html, body, svg, #box {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.footer {
    position: absolute;
    right: 5px;
    bottom: 0;
    font-size: 24px;
    color: #000000;
    padding: 3px;
    display: inline-block;
    text-decoration: none;
}
.footer_tgscan {
    position: absolute;
    left: 5px;
    bottom: 0;
    font-size: 12px;
    color: #bbb;
    padding: 3px;
    display: inline-block;
    text-decoration: none;
}