 html, body, svg, #box {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #ddd;
    padding: 3px;
    display: inline-block;
    text-decoration: none;
}